/* kontener na tekst */
div#tekst {width:60%; 
  padding:2%;}
/* kontener na prawą */

div#prawa {
/*   background-color:red; */
  float:right;
  width:35%;}
 
div#webmaster { 
  width:60%;
  padding:2%;} 

/*
     FILE ARCHIVED ON 07:44:09 Nov 27, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:24:09 Feb 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.588
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 47.332
  LoadShardBlock: 168.402 (3)
  PetaboxLoader3.datanode: 109.534 (4)
  PetaboxLoader3.resolve: 153.107 (2)
  load_resource: 140.933
*/