/* kontener na tekst */
div#tekst {
  width:70%;
  padding:2%;}



/* kontener na prawą */
div#prawa {
/*   background-color:yellow; */
  float:right;
  width:25%;}
  
div#webmaster { 
  width:70%;
  padding:2%;} 

/*
     FILE ARCHIVED ON 07:44:11 Nov 27, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:24:05 Feb 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.607
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 44.2
  LoadShardBlock: 271.289 (3)
  PetaboxLoader3.datanode: 260.017 (4)
  PetaboxLoader3.resolve: 79.998 (2)
  load_resource: 78.092
*/